main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: fit-content;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.349);
  padding: 2rem;
  border-radius: 1rem;

  @media (max-width: 480px) {
    min-width: 300px;
  }

  h1 {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.454);
    border-radius: 0.5rem;

    input {
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid #cccccc9a;
      font-size: 1rem;
    }

    input:focus {
      outline: none;
      border-color: #25252c;
    }

    button {
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: none;
      background-color: #4f5bd5;
      color: white;
      font-size: 1rem;
      cursor: pointer;

      &:active {
        background-color: #3a3f9c;
        scale: 0.95;
      }
    }
  }

  p {
    margin-top: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);

    a {
      margin-left: 0.25rem;
      background-color: white;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      color: #000000;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        transition: all 0.3s ease-in-out;
        background: #000;
        color: rgb(255, 255, 255);
      }
    }
  }
}
